<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reto/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1 class="titulo">
          Mis Cursos de Platzi💚
        </h1>
          <p>
            <input v-model="title" type="text" placeholder="Titulo del curso" class="title"/>
          </p>
          <p>
            <input v-model="time" type="number" placeholder="Horas" class="time"/>
          </p>
          <p class="bttn-fd">
            <button v-on:click="addCourse">➕</button>
            <button v-on:click="deleteCourse">➖</button>
          </p>
          <p>
            <span v-show="filled" class="filled">Ingresa el nombre del curso y/o las horas que estudiaste</span>
          </p>
        </fieldset>
        <div>
          <h3>Lista de Cursos:</h3>
          <p class="red"
          v-if="courses.length===0">Aun no has realizado cursos</p>
          <div v-else>
            <ol>
              <li v-for="p in courses"
              v-bind:key="p.title">
              Haz tomado el curso <strong>{{p.title}}</strong> que contiene <strong>{{p.time}}</strong> horas de aprendizaje.
              </li>
            </ol>
            <hr/>
            <p>
              Llevo <strong>{{ totalTime }}</strong> horas aprendiendo en Platzi.
              <b>#NuncaParesDeAprender 💚</b>
            </p>
          </div>
        </div>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
      <script src="app.js"></script>
</body>
<footer>
  <small>
    Desarrollado por Esneider Vélez Peña - febrero 2022
  </small>
</footer>
</html>